{% extends 'base.html' %}

{% block content %}

<div class="page-wrapper">
    <div class="content-wrapper auth-wrapper">
        <div class="content auth-content">
            
            <div class="title">Sign in</div>
            <form method="post" class="form auth-form">
                {% csrf_token %}
                
                <div class="non-field-error">{{ form.non_field_errors }}</div>
                {% for field in form %}
                    <div class="form-group">
                        <label class="form-label" for="{{ field.id_for_label }}">{{ field.label }}: </label>
                        <div>{{ field }}</div>
                        <div class="form-error">{{ field.errors }}</div>
                    </div>
                {% endfor %}
                
                <button type="submit" class="btn btn-primary">Login</button>
            </form>

        </div>
        
        <div class="content registry-suggestion">
            Don't have an account?<br>
            <a href="{% url 'registry' %}" class="registry-link">Create it now.</a>
        </div>

    </div>
</div>

{% endblock %}
