{% extends 'base.html' %}
{% load static %}

{% block content %}
{% include 'accounting/header.html' %}

<div class="page-wrapper">

    <div class="content-wrapper half-width-wrapper">

        <div class="content">
            <div class="buttons-panel buttons-panel-right-side">
                <div class="title">Categories</div>
                <a href="{% url 'create_category' %}" class="btn btn-primary btn-second">Add new</a>
            </div>
        </div>

        <div class="content">
            <table class="table categories-table">

                <tr>
                    <th class="categories-table-name">Name</th>
                    <th class="categories-table-type">Type</th>
                    <th class="categories-table-buttons"></th>
                </tr>

                {% for category in categories %}
                    <tr>
                        <td class="categories-table-name">{{ category.name }}</td>
                        <td class="categories-table-type">{{ category.type }}</td>
                        <td class="categories-table-buttons">
                            <div class="buttons-panel">
                                <a href="{% url 'update_category' pk=category.pk %}?redirect_url={{ request.get_full_path }}" class="btn btn-primary btn-round"><img class="icon" src="{% static 'accounting/img/edit.svg' %}"></a>
                                <a href="{% url 'delete_category' pk=category.pk %}" class="btn btn-danger btn-round"><img class="icon" src="{% static 'accounting/img/close.svg' %}"></a>
                            </div>
                        </td>
                    </tr>
                {% endfor %}

            </table>
        </div>

        {% include 'accounting/paginator.html' %}

    </div>

</div>
{% endblock %}
