{% extends 'base.html' %}

{% block content %}
{% include 'accounting/header.html' %}

<div class="page-wrapper">
    <div class="content-wrapper transactions-page-wrapper">

        <!--Info panel-->
        <div class="content-wrapper">
            <div class="content block-info">
                <span class="title info-title">Info</span>
                <table class="info-table">
                    <tr>
                        <td class="info-label">Balance:</td>
                        <td class="value">{{ balance }}</td>
                    </tr>
                    <tr>
                        <td class="info-label">Income:</td>
                        <td class="value">{{ income_sum }}</td>
                    </tr>
                    <tr>
                        <td class="info-label">Expense:</td>
                        <td class="value">{{ expense_sum }}</td>
                    </tr>
                    <tr>
                        <td class="info-label">Income for all time:</td>
                        <td class="value">{{ income_all_time_sum }}</td>
                    </tr>
                    <tr>
                        <td class="info-label">Expense for all time:</td>
                        <td class="value">{{ expense_all_time_sum }}</td>
                    </tr>
                </table>
            </div>
        </div>

        <!-- Filter -->
        <div class="content-wrapper transactions-filter-wrapper">

            <div class="content transactions-filter">
                <input type="checkbox" id="checkbox_toggle_filter">
                    <label for="checkbox_toggle_filter" class="collapse-arrow"><span class="collapse-arrow-line"></span></label>
                <span class="title filter-title">Filter</span>

                <form method="get" class="form transactions-filter-form">

                    <div class="non-field-error">{{ form.non_field_errors }}</div>
                    <div class="form-group">
                        <label class="form-label" for="form.date.id_for_label">{{ form.date.label }}</label>
                        <div class="form-error">{{ form.date__gte.errors }}</div>
                        <div class="date">{{ form.date__gte }}</div>
                        <div class="form-error">{{ form.date__lte.errors }}</div>
                        <div>{{ form.date__lte }}</div>
                    </div>
                    <div class="form-group">
                        <label class="form-label" for="form.value.id_for_label">{{ form.value.label }}</label>
                        <div class="form-error">{{ form.value__gte.errors }}</div>
                        <div>{{ form.value__gte }}</div>
                        <div class="form-error">{{ form.value__lte.errors }}</div>
                        <div>{{ form.value__lte }}</div>
                    </div>
                    <div class="form-group">
                        <label class="form-label" for="form.payment_type.id_for_label">{{ form.payment_type.label }}</label>
                        <div class="form-error">{{ form.payment_type.errors }}</div>
                        <div class="checkbox-field">{{ form.payment_type }}</div>
                    </div>
                    <div class="form-group">
                        <label class="form-label" for="form.category.id_for_label">{{ form.category.label }}</label>
                        <div class="form-error">{{ form.category.errors }}</div>
                        <div class="checkbox-field">
                            <div class="title">Income categories:</div>
                            {% for field in form.category %}
                                {% if field.data.value.instance.type == 'Income' %}
                                    <div class="form-checkbox">{{ field }}</div>
                                {% endif %}
                            {% endfor %}
                        </div>
                        <div class="checkbox-field">
                            <div class="title">Expense categories:</div>
                            {% for field in form.category %}
                                {% if field.data.value.instance.type == 'Expense' %}
                                    <div class="form-checkbox">{{ field }}</div>
                                {% endif %}
                            {% endfor %}
                        </div>
                        <div class="checkbox-field">
                            <div class="title">Transfer categories:</div>
                            {% for field in form.category %}
                                {% if field.data.value.instance.type == 'Transfer' %}
                                    <div class="form-checkbox">{{ field }}</div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="form-label" for="form.value.id_for_label">{{ form.description.label }}</label>
                        <div class="form-error">{{ form.description.errors }}</div>
                        <div>{{ form.description }}</div>
                    </div>
        
                    <div class="buttons-panel buttons-panel-filter">
                        <button type="submit" class="btn btn-primary btn-filter btn-first">Filter</button>
                        <a href="{% url 'transactions' %}" class="btn btn-primary btn-filter btn-second">Reset</a>
                    </div>

                </form>
            </div>

        </div>

        <!-- Transactions table -->
        <div class="content-wrapper transactions-table-wrapper">
            {% include 'accounting/transactions_table.html' %}
            {% include 'accounting/paginator.html' %}
        </div>

    </div>
</div>

{% endblock %}