{% extends 'base.html' %}

{% block content %}
{% include 'accounting/header.html' %}

<div class="page-wrapper">

    <div class="content-wrapper half-width-wrapper">
        <div class="content ">

            <form method="post" class="form">
                {% csrf_token %}

                <div class="non-field-error">{{ form.non_field_errors }}</div>
                {% for field in form %}
                    <div class="form-group">
                        <label class="form-label" for="{{ field.id_for_label }}">{{ field.label }}</label>
                        <div class="form-error">{{ field.errors }}</div>
                        {{ field }}
                    </div>
                {% endfor %}

                <div class="buttons-panel buttons-panel-center">
                    <button type="submit" class="btn btn-primary btn-second">Save</button>
                </div>

            </form>

        </div>
    </div>

</div>

{% endblock %}